.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj.user/shared/notebooks/8A9AC64E-geospatial_xaringan/1/s/chunks.json
.Rproj.user/shared/notebooks/2F465544-geospatial_pres/1/s/chunks.json
.Rproj.user/shared/notebooks/2F465544-geospatial_pres/1/4ACA8BA5148B05E5/chunks.json
.Rproj.user/shared/notebooks/0B015988-geospatial/1/s/chunks.json
.Rproj.user/shared/notebooks/0B015988-geospatial/1/4ACA8BA519EC9693/chunks.json
.Rproj.user/4ACA8BA5/sources/s-148B05E5/lock_file
.Rproj.user/4ACA8BA5/sources/s-148B05E5/64F36701-contents
.Rproj.user/4ACA8BA5/sources/s-148B05E5/633F8949-contents
.Rproj.user/4ACA8BA5/sources/s-148B05E5/4AFF38CE-contents
.Rproj.user/4ACA8BA5/sources/s-148B05E5/4AFF38CE
.Rproj.user/4ACA8BA5/sources/s-148B05E5/1463D24F-contents
.Rproj.user/4ACA8BA5/sources/s-148B05E5/1463D24F
.Rproj.user/4ACA8BA5/sources/s-148B05E5/113E6729-contents
.Rproj.user/4ACA8BA5/sources/s-148B05E5/113E6729
.Rproj.user/4ACA8BA5/sources/prop/INDEX
.Rproj.user/4ACA8BA5/sources/prop/8D51568A
